body {
  background-color: rgba(61, 61, 229, 0.886);
  margin: 10px 0px 5px 0px;
}

main {
  border-radius: 4px;
  margin: auto;
  width: 100%;
}

.main-container {
  height: 98vh;
  display: flex;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: 1.3rem;
}

#welcome-info {
  flex: 1;
  background-color: rgb(227, 222, 222);
  text-align: center;
}

#welcome-info > h4 {
  flex: 2;
  text-decoration: underline;
  margin-bottom: 100px;
}

#welcome-info > p {
  flex: 1;
}

#sign-up-area-container {
  flex: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

label {
  text-align: left;
}

.form-container-info input {
  width: 230px;
  height: 1.3rem;
}

.form-container-info input:focus {
  box-shadow: 2px 2px 5px -2px rgb(127, 123, 123);
}

.form-container-create > input {
  width: 150px;
  height: 1.8rem;
  margin-top: 10px;
}

.form-container-info {
  flex: 1;
}

.form-container-create {
  flex: 1;
  background-color: rgb(227, 222, 222);
}

#name, #contact, #password {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

#name > div, #contact > div, #password > div {
  display: flex;
  flex-direction: column;
}

.image #logo-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 10em;
  padding-left: 20px;
  top: 20em;
  background: rgba(255, 255, 255, 0.6);
  z-index: 2;
}

#logo-container div {
  margin-left: 20px;
}

img#boxing-gloves {
  width: 100px;
  height: 100px;
}

#logo-container div p {
  font-family: 'Roboto', sans-serif;
  font-family: 'Smooch', cursive;
  font-weight: bold;
  font-size: 3rem;
}

img#boxing-woman {
  width: 100%;
  height: 100%;
  z-index: 1;
}